<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

        <!-- Novedades -->
        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">
                    <h2 class="products-title">Ingresar</h2>
                </div>
                <!-- Show the "ultimos" products -->
                <main class="login">
                    <form action="/index" method="get">
        
                        <div>
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" placeholder="Escriba su email" required>
                        </div>
    
                        <div>
                        <label for="contrasennia">Contraseña:</label>
                        <input type="password" name="contrasennia" id="contrasennia" placeholder="Escriba su contraseña" required>
                        </div>

                        <div>
                            <label for="remember">Recordarme:</label> 
                            <input type="checkbox" name="remember" id="remember" placeholder="">
                        </div>
                    <!-- btns-->
                    <button type="submit"> enviar </button>
                        </form>
        
                </main>
    

        <%- include('partials/footer') %>

    </body>

</html>