<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

        <!-- Novedades -->
        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">
                    <h2 class="products-title">Ingresar</h2>
                </div>
                <!-- Show the "ultimos" products -->
                <main class="login">
                    <form action="/index/logueado" method="get">
        
                        <div>
                            <label for="email">email:</label>
                            <input type="email" name="email" id="email" placeholder="escriba su email">
                        </div>
    
                        <div>
                        <label for="contrasennia">password</label>
                        <input type="password" name="contrasennia" id="contrasennia" placeholder="contraseña">
                        </div>

                        <div>
                            <label for="remember">Recordarme:</label> 
                            <input type="checkbox" name="remember" id="remember" placeholder="">
                        </div>
                    <!-- btns-->
                    <button type="submit"> enviar </button>
                        </form>
        
                </main>
    

                <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de login. <br>
                Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
                Eliminen estás líneas y coloquen el formulario. <br>
                Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
                ////////////////
                </h2>

        <%- include('partials/footer') %>

    </body>

</html>