<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

	<%- include('partials/head') %>

	<body>
		<%- include('partials/header-logueado') %>
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Agregar productos</h2>
				</div>

				<main class="add">
                    <form action="/" method="get"> <!-- Falta poner a donde va todo el cuestionario -->
        
                        <div>
                            <label for="imagen">Imagen:</label>
                            <input type="file" name="imagen" id="imagen" placeholder="">
                        </div>
						<div>
							<label for="nombreProducto">Nombre del producto:</label> 
							<input type="text" name="nombreProducto" id="nombreProducto" placeholder="Escriba el nombre del producto">
						</div>

						<div>
							<label for="descripcion">Descripción:</label> 
							<input type="text" name="descripcion" id="descripcion" placeholder="Escriba una descripción para el producto">
						</div>
                    <!-- btns-->
                    <button type="submit"> enviar </button>
                        </form>
        
                </main>
		
		<%- include('partials/footer') %>
	</body>

</html>