<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
    <%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<main class="regi">
				
				<form action="/users/login" method="post">
	
					<div>
						<label for="email">Email:</label>
						<input type="email" name="email" id="email" placeholder="Escriba un email" required>
					</div>

					<div>
						<label for="nombre">Usuario:</label> 
						<input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario" required>
					</div>

					<div>
					<label for="contrasennia">Contraseña:</label>
					<input type="password" name="contrasennia" id="contrasenia" placeholder="Escriba una contraseña" required>
					</div>

					<div>
						<label for="fecha"> Fecha de nacimiento:</label>
						<input type="date" name="fecha" id="fecha" placeholder="00/00/0000" required>
					</div>
					
					<div>
						<label for="dni">DNI:</label>

						<input type="number" name="dni" id="dni" placeholder="00-000-000" required>
					</div>

					<!--<div>
						<label for="foto">Foto de perfil: (URL)</label> 

						<input type="text" name="foto" id="foto" placeholder="Suba su foto de perfil">
					</div> -->
				<!-- btns-->
				<button type="submit"> Enviar </button>
					</form>
	
			</main>
		</div>
    <%- include('partials/footer') %>

</body>

</html>